---
---

body {
  background: #f0f4f7;
  font-family: 'Lato', sans-serif;
}

#navigation {
  background: url('/coin-designs/assets/images/internal/nav-bg.png');
}

#main {
  flex: 0 0 56.8% !important;
  max-width: 56.8% !important;
}

#sidebar1 {
  flex: 0 0 22.5% !important;
  max-width: 22.5% !important;
  background: #273d54;
  color: #fff;

  .nav-link {
    color: #fff;
  }
}

#sidebar2 {
  flex: 0 0 20.7% !important;
  max-width: 20.7% !important;
  border-left: solid 2px #f5b547;
}

.list-unstyled li {
  margin-bottom: .5rem;
}

.breadcrumb {
  background: none;
  padding: 0;
}

.breadcrumb-item a {
  color: #c73e36;
  text-decoration: underline;
}

.text-danger {
  color: #c73e36 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.footer-card {
  background: #ff705f;
}

footer.jumbotron {
  background: #273c4f;
}

.service-card {
  .icon {
    border-right: solid 1px #fff;
  }
  &:nth-child(4n+2) .icon { border-color: #fe715f; } // red
  &:nth-child(4n+3) .icon { border-color: #00b2a2; } // green
  &:nth-child(4n+0) .icon { border-color: #f5b547; } // yellow
  &:nth-child(4n+1) .icon { border-color: #57c3f2; } // blue
}
